{% extends 'base.html' %}

{% block title %}Contact Us{% endblock title %}


{% block body %}
<div class="container-fluid px-0 mb-3" >
    <img src="https://source.unsplash.com/1200x400/?phone" class="d-block w-100 mx-0" alt="...">
</div>
<!--CONTACT US AREA-->
    <section class="contact-area" id="contact">
        <div class="map-area relative">
            <!-- <h1>My First Google Map</h1> -->

        <div class="contact-form-area section-padding gray-bg">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                        <div class="area-title text-center">
                            <h3>GET IN TOUCH</h3>
                            <p>Need any help just send a message </p>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </section>
    <div class="container mb-3 py-4">
    <h1 class="text-center"></h1>
    <form method="post" action="/contact">
    {% csrf_token %}
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Enter your Name">
        </div>

        <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email">
        </div>

        <div class="form-group">
            <label for="phone">Phone Number</label>
            <input type="phone" class="form-control" id="phone" name="phone" placeholder="Enter Your Phone Number">
        </div>

        <div class="form-group">
            <label for="desc">Please Write Your Issue</label>
            <textarea class="form-control" id="desc" rows="3" name="desc"></textarea>
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>

</div>
    <!--CONTACT US AREA END-->



{% endblock body %}