{% extends 'data.html' %}{% block title %}data3{% endblock title %} {% block databody %}

<div>
    <h4 style="text-align: center;">Flood report 1960-1980</h4>


    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">City name</th>
                <th scope="col">Location</th>
                <th scope="col">Cause</th>
                <th scope="col">Deaths</th>
                <th scope="col">Collatral Damage </th>
            </tr>
        </thead>
        {% for dat2 in data3 %}
        <tbody>

            <tr>
                <th scope="row">{{dat2.id}}</th>
                <td>{{dat2.name}}</td>
                <td>{{dat2.loc}}</td>
                <td>{{dat2.cause}}</td>
                <td>{{dat2.death}}</td>
                <td>{{dat2.damage}}</td>
            </tr>

        </tbody>
        {% endfor %}
    </table>
</div>

{% endblock databody %}