{% extends 'base.html' %} {% block title %}Issue{% endblock title %} {% block body %}


<!--CONTACT US AREA-->
<div class="card-deck">
    <div class="card">
        <div class="container mb-3 py-4">
            <h1 class="text-center"></h1>
            <form method="post" action="/issue">
                {% csrf_token %}
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="Enter your Name">
                </div>

                <div class="form-group">
                    <label for="phone">Phone Number</label>
                    <input type="phone" class="form-control" id="phone" name="phone" placeholder="Enter Your Phone Number">
                </div>

                <div class="form-group">
                    <label for="desc">Write Your  issue</label>
                    <textarea class="form-control" id="desc" rows="3" name="desc"></textarea>
                </div>
                <button class="btn btn-primary" type="submit">Submit</button>
                <br><br><br><br><br>
            </form>

        </div>
    </div>
</div>
</div>


{% endblock body %}